doctype html
html
  include includes/head.pug
  body
    include includes/navigation-top.pug
    div.hero-image
      div.hero-text
        div.offset-md-1.col-md-5.col-sm-12
          h1 ADVENTURE TRAVEL WITH HEART
          p.gf Go Boldly,</br>Venture Forth
    include includes/footer.pug