doctype html
html
  include includes/head.pug
  body
    include includes/navigation-top.pug
    div.hero-image
      div.hero-text
          h1 ADVENTURE TRAVEL WITH HEART
    include includes/footer.pug