doctype html
html
  include includes/head.pug
  body
    include includes/navigation-top.pug
    div.container
      div.row
        div.col-md-6    
          p ADVENTURE TRAVEL WITH HEART
    include includes/footer.pug