head
  title FOUNDRY
  link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css', type='text/css')
  link(rel='stylesheet', href='../bower_components/font-awesome/css/font-awesome.min.css', type='text/css')
  link(rel='stylesheet', href='dist/css/main.css', type='text/css')