nav.navbar.fixed-top.navbar-expand-sm.navbar-light.bg-transparent
      a.navbar-brand(href="#") FOUNDRY
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div#navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.dropdown.nav-item.active 
            a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") HOME
            div.dropdown-menu
              a.dropdown-item Action A
              a.dropdown-item Action A2
              a.dropdown-item Action A3
          li.dropdown.nav-item 
            a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") PAGES
            div.dropdown-menu
              a.dropdown-item Action B
              a.dropdown-item Action B2
              a.dropdown-item Action B3
          li.dropdown.nav-item 
            a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") ELEMENTS
            div.dropdown-menu
              a.dropdown-item Action C
              a.dropdown-item Action C2
              a.dropdown-item Action C3
          li.dropdown.nav-item 
            a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") PORTFOLIO
            div.dropdown-menu
              a.dropdown-item Action D
              a.dropdown-item Action D2
              a.dropdown-item Action D3
          li.dropdown.nav-item 
            a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") SHOP
            div.dropdown-menu
              a.dropdown-item Action E
              a.dropdown-item Action E2
              a.dropdown-item Action E3
          li.dropdown.nav-item 
            a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") BLOG
            div.dropdown-menu
              a.dropdown-item Action F
              a.dropdown-item Action F2
              a.dropdown-item Action F3
          li.nav-item 
            a.nav-link(href="#") <i class="fa fa-search" aria-hidden="true"></i>
          li.nav-item
            a.nav-link(href="#") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
          li.dropdown.nav-item 
            a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Eng
            div.dropdown-menu
              a.dropdown-item Spa
              a.dropdown-item Fr
              a.dropdown-item De