$white: #fff;
$borderstyle: transparentize($white, 0.75) solid 1px;

@font-face {
	font-family: "Goodfoot";
	font-style: normal;
	src: url("fonts/goodfoot.ttf") format("truetype"),
}

body, html {
    height: 100%;
}

.hero-image {
    background-image: url("../img/vent1.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .hero-text {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
    }

}

nav.navbar.fixed-top {
    border-bottom: $borderstyle;
    padding: 0 16px;

    li.rigthborder {
        border-right: $borderstyle;
    }

    a, li.dropdown.nav-item div.dropdown-menu {
        color: $white !important;        
    }
    li.dropdown.nav-item div.dropdown-menu {
        background-color: #000;
    }
}

.gf {
    font-family: "Goodfoot", 'Times New Roman', serif;
}

