// Define the breakpoints
$breakpoint-small: 600px;
$breakpoint-med-small: 960px;
$breakpoint-med: 1175px;

@mixin screen($size, $type: max, $pixels: $breakpoint-small) {
  @if $size == 'small' {
    @media screen and ($type + -width: $breakpoint-small) {
        @content;
    }
  }
  @else if $size == 'med-small' {
    @media screen and ($type + -width: $breakpoint-med-small) {
        @content;
    }
  }
  @else if $size == 'med' {
    @media screen and ($type + -width: $breakpoint-med) {
        @content;
    }
  }
 @else if $size == 'large' {
    @media screen and ($type + -width: $breakpoint-med) {
        @content;
    }
  }
  @else if $size == 'custom' {
    @media screen and ($type + -width: $pixels + px) {
     @content;
    }
  }
  @else {
    @content;
  }
}

$white: #fff;
$borderstyle: transparentize($white, 0.75) solid 1px;

@font-face {
    font-family: 'Good Foot';
    src: url('../fonts/GoodFoot.eot');
    src: url('../fonts/GoodFoot.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GoodFoot.woff2') format('woff2'),
        url('../fonts/GoodFoot.woff') format('woff'),
        url('../fonts/GoodFoot.ttf') format('truetype'),
        url('../fonts/GoodFoot.svg#GoodFoot') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
}

.hero-image {
    background-image: url("../img/vent1.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .hero-text {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
    }

}

nav.navbar.fixed-top {
    border-bottom: $borderstyle;
    padding: 0 16px;

    li.rigthborder {
        border-right: $borderstyle;
    }

    a, li.dropdown.nav-item div.dropdown-menu {
        color: $white !important;        
    }
    li.dropdown.nav-item div.dropdown-menu {
        background-color: #000;
    }
}

.gf {
    font-family: "Good Foot", 'Arial', serif;
    font-size: 100px;

    @include screen(med-small){
        font-size: 85px;
    }

    @include screen(small) {
        font-size: 70px;
    }
}

